/Design - Serah Nwoke.png
/Hello World - I4GZuri Task - Serah Nwoke.png
/I4GxZuri - Serah Nwoke's RPS Game.py
/I4GxZuri - Serah Nwoke's Simple CLI Calculator.py
/I4GxZuri - Serah Nwoke's Simple CLI Calculator.zip
/I4GxZuri - Serah Nwoke's Word Counter.png
/I4GxZuri - Serah Nwoke's Word Counter.py
/i4gzuri
/St Benedict High School Score Sheet.html
/Tribute Page.html
/Variable addition task - Serah Nwoke.py
/Variable addition task - Serah Nwoke.zip
/Zuridjango